html {
    font-size: 24px;
    font-family: Climate Crisis ;
}

h1{
   background-color: aqua;
   text-align: center; 
}

section h3 {
    background-color: rgb(31, 160, 59);
    text-align: center;
}

.color-border {
    border: 5px solid green ; 
}

table {
    padding: 5px;
    text-align: center;

}
.empty-corner tr:nth-child(1) td:nth-child(1) {
    border: none ;


}

td { 
    border: 5px solid;
    padding: 20px;
}