* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: #1e90ff;
  --second-color: #cfb4b4;
}
header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--second-color);
  color: white;
  text-align: center;
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}