* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Georgia, 'Georgia', Times, serif;
}

:root {
  --layout-color: rgb(63, 57, 57);
  --character-color: #b3fd07;
  --second-character-color: rgb(149, 229, 240);
  --text-color: black;
  --alert-color: red;
  --second-text-color: white;
  --text-area: #f1f1f1;
  --second-text-area:  #ddd;
  --background-text-area: rgb(255, 255, 255);
}
header {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.logo p {
font-variant: small-caps;
font-size: xx-large;
color: var(--text-color);
}

.logo span {
  font-variant: small-caps;
  font-size: x-large;
  font-weight: bolder;
  color: var(--text-color);
}
.header-verse{
  width: 30%;
}
.header-verse {
  font-style: oblique;
  font-weight: 600;
  color: var(--text-color);
}

.select-menu label {
  color: var(--text-color);
}
.topnav{
  background-color: var(--layout-color);
}

.links-navbar a {
  color: var(--second-text-color);
}
.links-navbar a:hover {
  background-color: var(--second-character-color);
  color: var(--text-color);
}
/* i singoli link della navbar*/
#signup{
  background-color: greenyellow;
}
#login{
  background-color: greenyellow;
}
#logout{
  background-color: red;
}
#exit-session {
  background-color: red;
}
#continue-session {
  background-color: greenyellow;
}
.slider {
  background-color: var(--second-character-color);
}
.slider:before{
  background-color: var(--text-color);
}
.switch input:checked+.slider{
  background-color: var(--character-color);
}
.switch input:focus+.slider {
  box-shadow: 0 0 1px var(--layout-color);
}
.search-area > div > span {
  color: var(--second-text-color);
}
.search-text input[type=text]{
  border: 1px solid var(--second-character-color);
  background-color: var(--text-area);
  border: 1px solid var(--second-character-color);
}

.search-text button:hover {
  background: var(--character-color);
}

.search-text button {
  color: var(--second-text-color);
  background-color: var(--character-color);
}
.search-text button:hover{
  background-color: var(--second-character-color);
}
.form-users input[type=text], input[type=password] {
  background-color: var(--text-area);
}
.form-users input[type=text]:focus, input[type=password]:focus {
  background-color: var(--second-text-area);
}
.form-users button {
  color: var(--text-color);
  background-color: var(--character-color);
}
.form-users .cancelbtn{
  background-color: var(--alert-color);
}
.body-main{
  display: flex;
  
}

.body-text {
  width: 70%;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--background-text-area);
}
.profile{
  width: 30%;
  margin-left: 5%;
}

.user-detail {
  background-color: var(--second-text-area);
  border: 1px solid black;
}

.user-detail input {
  color: white;
  background-color: rgb(255, 0, 0);
}

.user-detail input:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--layout-color);
  color: var(--second-text-color);
  text-align: center;
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1001px) {

  .topnav {
    align-items: center;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {

  .search-area {
    align-self: flex-end;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
  .links-navbar {
    margin-top: 1rem;
    align-self: flex-end;
  }
  .custom-select{
    flex-direction: column;
    align-self: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  header{
    display: none;
  }
  .links-navbar {
    align-self: center;
  }
  .topnav{
    flex-direction: column-reverse;
  }
  .search-area {
    align-self: center;
  }
  .custom-select{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}