.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.links-navbar {
  display: flex;
  margin-right: 0.6rem;
}


.links-navbar li {
  list-style: none;
}

.links-navbar a {
  display: flex;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.custom-select {
  display: flex;
  padding-left: 10px;
}

.switch {
  position: relative;
  width: 50px;
  display: flex;
  height: 24px;
  margin-bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-area > div > span {
  font-size: 14px;
  padding-right: 10px;
}

.search-text {
  display: flex;
  align-items: center;
}

.search-text input[type=text] {
  padding: 10px;
  font-size: 14px;
  width: 80%;
}

.search-text button {
  width: 20%;
  padding: 10px;
  font-size: 14px;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}
.search-text button:active{
  transform: translateY(0.5px);
}
