header {
    display: flex;
    align-items: center;
}

header div:last-child {
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: row;
    /* width: 50%; */
}

.news-detail {
    /* width: 70%; */
    width: 1000px;

}
.news-detail  {
    border: 2px solid black;
    margin: 1rem 0;
    
}

.images {    
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    /* padding: auto; */
    
}

            
.images img {  
    padding: 1rem; 
    width: 25%;
    /* padding: 5px; */
}

ol {
    list-style: none;
    border: 1px solid black;
}

.brand {
    
    font-weight: bold;

}

.brand-details {
    display: flex;
    border: 1px solid black;
    /* background-color: aqua; */
}

.brand , .description {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding: 5px;

}



.description {
    flex-grow: 4;
    /* margin-left: auto;
    border-left: 2px solid black;
    padding: 1rem;
     */
}
