body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    border-radius: 50px;
    width: 450px;
    height: 700px;
    justify-content: space-around;
    padding: 7px;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/400/497/283/battlegrounds-of-eldhelm-fantasy-city-fantasy-art-video-games-wallpaper-preview.jpg);
    background-size: cover;
    margin-bottom: 30px;
}
.card:nth-child(4) {
    order: -3;
}

.card:nth-child(6) {
    order: -3;
}
.card:nth-child(5) {
    order: -2;
}
.card h2 {
    color: rgb(213, 255, 2);
}

.card img {
    width: 300px

}
.card img:hover {
    zoom: 1.3;
    border: 2px solid rgb(102, 106, 93);
}
.card p {
    text-align: justify;
    color: aliceblue;
}
.card p:hover{
    zoom: 1.3;
}
.card a {
    color: yellow;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}